@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}


p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #27E32D, #2F6330);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3f58409f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6DE871;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(105, 156, 106, 0.568)
}

h2{
    color: #116314;
}